html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    font-family: tahoma;
    background-color: crimson;
}
#baner{
    color: white;
    text-align: center;
    height: 370px;
}
h2{
    letter-spacing: 7px;
    font-variant: small-caps;
}
#mecze{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mecz{
    width: 200px;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}
.mecz:hover{
    border: 1px solid white;
}
#sekreprezentacja{
    background-color: whitesmoke;
    width: 100%;
}
#reprezentacja{
    width: 100%;
    display: flex;
}
#left{
    width: 70%;
    height: 230px;
}
#right{
    width: 30%;
    height: 230px;
    text-align: right;
}
#right img{
    width: 150px;
}