html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
}
header #logo{
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
}
header #dane{
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 30%;
    height: 70px;
}
#polecamy, #filmyfantastyczne{
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
}
footer{
    background-color: #29434E;
    color: white;
}
.filmy{
    display: flex;
}
.film{
    width: 226px;
    height: 280px;
    padding: 5px;
}
h3{
    background-color: #546E74;
    color: white;
    margin: 0;
}
h4{
    text-align: center;
    margin: 0;
}